<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <img src="../../../../assets/images/mindLogoW.png"  class="mindLogo" alt="">
    </div>

    <ul class="list-unstyled components visitor" *ngIf="!isLoggedIn">
        <li class="nav-link"> 
            <a (click)="goHome()" type="button"> <i class="fas fa-home"></i> Home </a> 
        </li>
        <li class="nav-link">
            <a (click)="goDashboard()" type="button"> <i class="fas fa-tachometer-alt"></i> Dashboard </a>
        </li>
        <li class="nav-link">
            <a (click)="goDetailsUsers()" type="button"><i class="fas fa-user-plus"></i> Details Users </a> 
        </li>
        <li class="nav-link">
            <a (click)="goReports()" type="button"><i class="fas fa-clipboard-list"></i> Reports </a>
        </li>
        <li class="nav-link">
            <a (click)="goLogin()" type="button"><i class="fas fa-sign-in-alt"></i> Login </a> 
        </li>
    </ul>

    <ul class="list-unstyled components coordinator" *ngIf="isLoggedIn">
        <li class="nav-link"> 
            <a (click)="goHomeC()" type="button"> <i class="fas fa-home"></i> Home </a> 
        </li>
        <li class="nav-link">
            <a (click)="goDashboardC()" type="button"> <i class="fas fa-tachometer-alt"></i> Dashboard </a>
        </li>
        <li class="nav-link">
            <a (click)="goUsers()" type="button"><i class="fas fa-user-plus"></i> Users </a> 
        </li>
        <li class="nav-link">
            <a (click)="goInfoFilesUsers()" type="button"><i class="fas fa-folder"></i> Files </a>
        </li>
        <li class="nav-link">
            <a (click)="goReportsC()" type="button"><i class="fas fa-clipboard-list"></i> Reports </a>
        </li>
        <li class="nav-link">
            <a (click)="goTests()" type="button"><i class="fas fa-clipboard-check"></i> Tests </a> 
        </li>
        <li class="nav-link">
            <a (click)="goCoords()" type="button"><i class="fas fa-user-plus"></i> Coordinators </a> 
        </li>
        <li class="nav-link">
            <a (click)="logOut()" type="button"><i class="fas fa-sign-in-alt"></i> Logout </a> 
        </li>
    </ul>
    
    </nav>

    <div id="content">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btnSide">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
    </div>
    <br><br><br><br>


    <div class="overlay"></div>
    
    