<div class="wrapper">
  <app-side-visitor></app-side-visitor>
    <!--  Home Page Content  -->
    <div id="content">

        <div class="headerBanner">
          <div class="text-center">
            <h1 class="headmind">Unleash the full power of your mind</h1>
            <p class="subheadmind">Enable humankind prosperity through technology</p>
          </div>
        </div>

        <div class="infoMind">
          <p>Mind hub as a tech accelerator is the epicenter of creativity, disruption and innovation for the CaliBaja megaregion. The focus is to enable technology on either side of the US/MX border.
          </p>
        </div>

        <div class="infoMindCards">
            <div class="row cols-12 row-cols-md-4 g-4 cardInfo">
                <div class="col-sm-6">
                  <div class="card">
                    <img src="../../../../assets/images/mindUniversity.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                      <img src="../../../../assets/images/mindTeams.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <br><br><br>
        
    </div>

  </div>
   