<div class="wrapper">
  <app-side-visitor></app-side-visitor>
    <!--  Home Page Content  -->
    <div id="content">
        <div class="headerBanner">
          <div class="text-center">
            <h1 class="headmind">Unleash the full power of your mind</h1>
            <p class="subheadmind">Enable humankind prosperity through technology</p>
          </div>
        </div>

        <div class="infoMind">
          <p>Mind hub as a tech accelerator is the epicenter of creativity, disruption and innovation for the CaliBaja megaregion. The focus is to enable technology on either side of the US/MX border.
          </p>
        </div>

        <div class="infoMindCards">
            <div class="">
              <div class="card radius-15 cardMind">
                <img src="../../../../assets/images/mindUniversity.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                   <h5 class="card-title"> Mind University </h5>
                   <p class="card-text"> Learn the process and personnel involved in ArkusNexus own software development training program and the different challenges that we've encountered over the years. </p>
                    <hr>
                    <button type="button" class="btn btn-danger btnMoreInfo"> <a href="https://www.arkusnexus.com/blog/bootcamp-development-model" target="_blank"> More info </a> </button>
                    </div>
                  </div>
             </div>   

            <div class="">
              <div class="card radius-15 cardMind2">
                 <img src="../../../../assets/images/mindTeams.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                   <h5 class="card-title"> Mind Teams </h5>
                   <p class="card-text"> Mind Teams is ArkusNexus' internal unit for talent development and professional growth, learn more about this important division here. </p>
                    <hr>
                    <button type="button" class="btn btn-danger btnMoreInfo"> <a href="https://www.arkusnexus.com/blog/introduction-to-mind-teams" target="_blank"> More info </a> </button>
                    </div>
                  </div>
           
                </div>
        </div>
        
        <br><br><br>
        

  </div>
   