<div class="homeContainer">	

	<div class="navigation-wrap start-header start-style">
		<div class="container">
			<div class="row">
        <div class="col-4">
					<div class="navbar navbar-expand-md navButton">
						<app-sidebar-coord></app-sidebar-coord>
					</div>		
				</div>
				<div class="col-4">
					<nav class="navbar navbar-expand-md navImg">
						<a class="navbar-brand imgMind" href="https://www.mindhub.mx/" target="_blank"><img src="../../../../assets/images/mindLogoW.png" alt=""></a>	
					</nav>		
				</div>
			</div>
		</div>
	</div>

  <div class="content">
    <div class="headerBanner">
      <div class="text-center">
        <h1 class="headmind">Tests</h1>
      </div>
    </div>

      <br><br>

</div>