  <!-- Sidebar  -->
  <nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <img src="../../../../assets/images/mindLogoW.png"  class="mindLogo" alt="">
    </div>

    <ul class="list-unstyled components">
        <li class="nav-link"> 
            <!-- <a [routerLink]="['']"> <i class="fas fa-home"></i> Home </a> -->
            <a (click)="goHome()" type="button"> <i class="fas fa-home"></i> Home </a> 
        </li>
        <li class="nav-link">
            <!-- <a [routerLink]="['./dashboard']"> <i class="fas fa-tachometer-alt"></i> Dashboard </a> -->
            <a (click)="goDashboard()" type="button"> <i class="fas fa-tachometer-alt"></i> Dashboard </a>
        </li>
        <li class="nav-link">
            <!-- <a [routerLink]="['./detailsIncome']"> <i class="fas fa-user-plus"></i> Details Income </a> -->
            <a (click)="goDetailsIncome()" type="button"><i class="fas fa-user-plus"></i> Details Income </a> 
        </li>
        <li class="nav-link">
            <!-- <a [routerLink]="['./reports']"> <i class="fas fa-clipboard-list"></i> Reports </a> -->
            <a (click)="goReports()" type="button"><i class="fas fa-clipboard-list"></i> Reports </a>
        </li>
        <li class="nav-link">
            <!-- <a [routerLink]="['./login']"> <i class="fas fa-sign-in-alt"></i> Login </a> -->
            <a (click)="goLogin()" type="button"><i class="fas fa-sign-in-alt"></i> Login </a> 
        </li>
    </ul>
    
    </nav>

    <div id="content">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btnSide">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="nav-header">
                    <img src="../../../../assets/images/mindLogoW.png"  class="mindLogo" alt="">
                </div>
            </div>
    </div>
    <br><br><br><br>


    <div class="overlay"></div>
    