.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 25px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 10%;
    right: 0;
}