<div class="wrapper">
  <app-side-visitor></app-side-visitor>
    <!--  Home Page Content  -->
    <div id="content">
        <div class="headerBanner">
          <div class="text-center content2">
            <h1 class="headmind">Reports</h1>
            <div class="container">
              <div class="row">
                  <div class="col-md-offset-1 col-md-12">
                      <div class="panel">
                          <div class="panel-heading">
                              <div class="row">
                                  <div class="col col-sm-3 col-xs-12">
                                      <!-- <h4 class="title">Data <span>List</span></h4> -->
                                  </div>
                                  <div class="col-sm-12 col-xs-12 text-right">
                                      <div class="btn_group">
                                          <input type="text" class="form-control" placeholder="Search">
                                          <button class="btn btn-default" title="Reload"><i class="fas fa-filter"></i></button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="panel-body table-responsive">
                              <table class="table">
                                  <thead>
                                      <tr>
                                          <th>#</th>
                                          <th>Name</th>
                                          <th>Date</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>1</td>
                                          <td>Report Mind</td>
                                          <td>18/06/2021</td>
                                      </tr>
                                      <tr>
                                          <td>2</td>
                                          <td>Report MindU</td>
                                          <td>01/03/2021</td>
                                      </tr>
                                      <tr>
                                          <td>3</td>
                                          <td>Report MindT</td>
                                          <td>09/08/2021</td>
                                      </tr>
                                      <tr>
                                          <td>4</td>
                                          <td>Report MindT2021</td>
                                          <td>23/07/2021</td>
                                      </tr>
                                      <tr>
                                          <td>5</td>
                                          <td>Report MindU2021</td>
                                          <td>12/06/2021</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <div class="row">
                                  <div class="col col-sm-4 col-xs-4">Showing <b>5</b> out of <b>25</b> reports </div>
                                  <div class="col-sm-8 col-xs-8">
                                      <ul class="pagination hidden-xs pull-right">
                                          <li><a href="#"><</a></li>
                                          <li class="active"><a href="#">1</a></li>
                                          <li><a href="">2</a></li>
                                          <li><a href="">3</a></li>
                                          <li><a href="">4</a></li>
                                          <li><a href="">5</a></li>
                                          <li><a href="">></a></li> 
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    
          </div>
        </div>
 
    
    </div>

  </div>
   