<div class="homeContainer">	

	<div class="navigation-wrap start-header start-style">
		<div class="container">
			<div class="row">
        <div class="col-4">
					<div class="navbar navbar-expand-md navButton">
            <app-sidebar-visit></app-sidebar-visit>
          </div>		
				</div>
				<div class="col-4">
					<nav class="navbar navbar-expand-md navImg">
						<a class="navbar-brand imgMind" href="https://www.mindhub.mx/" target="_blank"><img src="../../../../assets/images/mindLogoW.png" alt=""></a>	
					</nav>		
				</div>
			</div>
		</div>
	</div>

  <div class="content">
    <div class="headerBanner">
      <div class="text-center">
        <h1 class="headmind">Reports</h1>
      </div>
    </div>
     
    <div class="containerFilter" style="width:70vw; margin-top: 5%;">
      <!-- <div class="input-group mb-3" style="margin-left: 15vw;">
        <label class="input-group-text" for="inputGroupSelect01">Filter</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Select one</option>
          <option value="1">Date</option>
          <option value="2">Name</option>
          <option value="3">Mind University</option>
          <option value="4">Mind Teams</option>
        </select>
      </div> -->
      <h5 style="margin-left: 10%;">Filter by</h5>

      <div class="col-md-12 mb-2"  style="margin-left: 15vw; text-align:center">
        <div class="row">
          <div class="col-md-3">
            <button type="button" class="btn mb-2 mb-md-0 btn-round btn-outline btn-block btn-purple" (click)="filterName()">Name</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn mb-2 mb-md-0 btn-round btn-outline btn-block btn-blue" (click)="filterDate()">Date</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn mb-2 mb-md-0 btn-round btn-outline btn-block btn-purple" (click)="filterMindU">Mind University</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn mb-2 mb-md-0 btn-round btn-outline btn-block btn-blue" (click)="filterMindT">Mind Teams</button>
          </div>
        </div>
      </div>

    </div>

      <br><br>

</div>