  <!-- Sidebar  -->
  <nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <img src="../../../../assets/images/mindLogoW.png"  class="mindLogo" alt="">
    </div>

    <ul class="list-unstyled components">
        <li class="nav-link"> 
            <a (click)="goHome()" type="button"> <i class="fas fa-home"></i> Home </a> 
        </li>
        <li class="nav-link">
            <a (click)="goDashboard()" type="button"> <i class="fas fa-tachometer-alt"></i> Dashboard </a>
        </li>
        <li class="nav-link">
            <a (click)="goIncome()" type="button"><i class="fas fa-user-plus"></i> Users </a> 
        </li>
        <li class="nav-link">
            <a (click)="goInfoFilesIncomes()" type="button"><i class="fas fa-folder"></i> Files </a>
        </li>
        <li class="nav-link">
            <a (click)="goTests()" type="button"><i class="fas fa-clipboard-check"></i> Tests </a> 
        </li>
        <li class="nav-link">
            <a (click)="goLogout()" type="button"><i class="fas fa-sign-in-alt"></i> Logout </a> 
        </li>
    </ul>
    
    </nav>

    <div id="content">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btnSide">
                <i class="fas fa-bars"></i>
            </button>
            <div class="nav-header">
                <img src="../../../../assets/images/mindLogoW.png"  class="mindLogo" alt="">
            </div>
        </div>
        </div>
        <br><br><br><br>

    <div class="overlay"></div>
    