.bodyLogin{
    position: relative;
    background: linear-gradient(180deg, #212947 29.69%, #533A96 100%);
    background-size: cover;
    mix-blend-mode: normal;
    overflow: hidden;
}
.imgLogin{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: url(../../../../assets/images/backgroundLogin.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.25;
    overflow: hidden;
}
.containerLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.login{
    position: absolute;
    background: rgba(235, 235, 235, 0.5);
    border-radius: 54px;
    width: 300px;
    height: auto;
}
.formLogin{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.mindIcon{
    width: 80px;
    height: 70px;
}
.btnHome{
    background: linear-gradient(180deg, #212947 29.69%, #533A96 100%);
    color: white;
}