<div class="homeContainer">	

	<div class="navigation-wrap start-header start-style">
		<div class="container">
			<div class="row">
        <div class="col-4">
					<div class="navbar navbar-expand-md navButton">
            <app-sidebar-visit></app-sidebar-visit>
          </div>		
				</div>
				<div class="col-4">
					<nav class="navbar navbar-expand-md navImg">
						<a class="navbar-brand imgMind" href="https://www.mindhub.mx/" target="_blank"><img src="../../../../assets/images/mindLogoW.png" alt=""></a>	
					</nav>		
				</div>
			</div>
		</div>
	</div>

  <div class="content">
    <div class="headerBanner">
      <div class="text-center">
        <h1 class="headmind">Details Users</h1>
      </div>
    </div>

    <div class="container">
      <div class="row row-cols-1 row-cols-lg-2 row-cols-md-3 row-cols-xl-4 cardsDetails">

        <div class="col" *ngFor="let user of usersList | paginate: { itemsPerPage: numUsersPage, currentPage: page }">
          <div class="card radius-15">
            <div class="card-body text-center">
              <div class="p-4 border radius-15">
                <img src="../../../../assets/images/usericon.png" width="110" height="110" class="rounded-circle shadow" alt="">
                <h5 class="mb-0 mt-4">{{user.full_name}}</h5>
                <p class="mb-3">{{user.venue}}</p>
                <div class="containerButtons"> 
                  <button type="button" class="btn btn-outline-primary rounded-circle" data-bs-toggle="modal" data-bs-target="#viewInfoUser" (click)="getId(user.id)"><i class="far fa-eye"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
       
      </div>
      </div>  
      <br><br><br>
              <pagination-controls  
                        class="pagination"
                        (pageChange)="changePage($event)"
                        previousLabel="Previous"
                        nextLabel="Next">
               </pagination-controls>
    </div>

      <br><br>

</div>

  <!-- View -->
  <div class="modal fade" id="viewInfoUser" tabindex="-1" aria-labelledby="viewInfoUserLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-white" id="exampleModalLabel"><b>User Details</b></h5>
        </div>
        <div class="modal-body">
          <div class="col">
            <div class="card radius-15">
              <div class="card-body text-center">
                <div class="p-4 border radius-15">
                  <img src="../../../../assets/images/usericon.png" width="110" height="110" class="rounded-circle shadow" alt="">
                  <h5 class="mt-5 mb-3"><strong>{{userInfo.full_name}}</strong></h5>
                  <div class="dataUser" style="text-align: left;">
                    <strong class="mb-1">City: </strong> <small>&nbsp;{{userInfo.city}}</small> <br>
                    <strong class="mb-1">Venue: </strong> <small>&nbsp;{{userInfo.venue}}</small> <br>
                    <strong class="mb-1">Origin: </strong> <small>&nbsp;{{userInfo.origin_type}}</small> <br>
                    <strong class="mb-1">Mind: </strong> <small>&nbsp;{{userInfo.type_mind}}</small> <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <h6 class="text-center">Details Tests</h6>
          <div style="height: auto; overflow: auto; width: auto" class="containerTable">
            <table class="table table-striped table-responsive table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl" >
              <thead class="bg-primary text-white" style="position: sticky; top:0; z-index: 10;">
                <tr>
                <th scope="col" class="text-center">Technology</th>
                <th scope="col" class="text-center">Score</th>
                <th scope="col" class="text-center">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let test of testsUsersList">
                  <td class="text-center">{{test.technology}}</td>
                  <td class="text-center">{{test.score}}</td>
                  <td class="text-center">{{test.date}}</td>		
                </tr>  
              </tbody>
              </table>		
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
            </div>
      </div>
    </div>
  </div>
  </div>