<div class="homeContainer">	

	<div class="navigation-wrap start-header start-style">
		<div class="container">
			<div class="row">
        <div class="col-4">
					<div class="navbar navbar-expand-md navButton">
            <app-sidebar></app-sidebar>
          </div>		
				</div>
				<div class="col-4">
					<nav class="navbar navbar-expand-md navImg">
						<a class="navbar-brand imgMind" href="https://www.mindhub.mx/" target="_blank"><img src="../../../../assets/images/mindLogoW.png" alt=""></a>	
					</nav>		
				</div>
			</div>
		</div>
	</div>

  <div class="content">
    <div class="headerBanner">
      <div class="text-center">
        <h1 class="headmind">Details Users</h1>
      </div>
    </div>

    <div class="container">
      <div class="row row-cols-1 row-cols-lg-2 row-cols-md-3 row-cols-xl-4 cardsDetails">

        <div class="col" *ngFor="let user of usersList">
          <div class="card radius-15">
            <div class="card-body text-center">
              <div class="p-4 border radius-15">
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="110" height="110" class="rounded-circle shadow" alt="">
                <h5 class="mb-0 mt-4">{{user.full_name}}</h5>
                <p class="mb-3">{{user.email}}</p>
              </div>
            </div>
          </div>
        </div>
       
      </div>
      </div>  

    </div>

      <br><br>

</div>