<div class="homeContainer">	

	<div class="navigation-wrap start-header start-style">
		<div class="container">
			<div class="row">
        <div class="col-4">
					<div class="navbar navbar-expand-md navButton">
						<app-sidebar-coord></app-sidebar-coord>
					</div>		
				</div>
				<div class="col-4">
					<nav class="navbar navbar-expand-md navImg">
						<a class="navbar-brand imgMind" href="https://www.mindhub.mx/" target="_blank"><img src="../../../../assets/images/mindLogoW.png" alt=""></a>	
					</nav>		
				</div>
			</div>
		</div>
	</div>

  <div class="content">
    <div class="headerBanner">
      <div class="text-center">
        <h1 class="headmind">Files</h1>
      </div>
    </div>

	<div class="containerButtonInfo" style="right: 10%;">
		<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#infoIcons"><i class="fas fa-info"></i></button>
	</div>

	<div class="addFilesUser">
		<button type="button" class="btn btn-outline-dark"data-bs-toggle="modal" data-bs-target="#addFilesUserModal">
		  Add Files
		</button>
		<div class="modal fade" id="addFilesUserModal" tabindex="-1" aria-labelledby="addFilesUserModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header bg-primary">
				<h5 class="modal-title text-white" id="exampleModalLabel"><b>Files</b></h5>
			  </div>
			  <div class="modal-body">
				<form class="row g-3" [formGroup]="fGValid" (ngSubmit)="addFiles()">
					<div class="col-md-12">
						<label for="user_id" class="form-label">User</label>
						<select class="form-select" id="user_id" formControlName="user_id">
							<option *ngFor="let user of usersList" [ngValue]="user.id">{{user.full_name}}</option>
						</select>
					  </div> 
				  <div class="col-md-12">
					  <p id="personal_cv"> {{namePersonalFileCV}} </p>
				  </div>
				  <div class="col-md-12">
					<input class="form-control-sm" type="file" id="personal_cv_file" (change)="selectFilePCV($event)" formControlName="personal_cv_file">
					<button type="button" class="btn btn-outline-dark" (click)="uploadPersonalCV()">Upload</button>
			      </div>
				  <div class="col-md-12">
					<p id="arkus_cv"> {{nameArkusFileCV}} </p>
				</div>
				<div class="col-md-12">
				  <input class="form-control-sm" type="file" id="arkus_cv_file" (change)="selectFileACV($event)" formControlName="arkus_cv_file">
				  <button type="button" class="btn btn-outline-dark" (click)="uploadArkusCV()">Upload</button>
				</div>
				  <div class="col-md-12">
					<p id="interview_report"> {{nameInterviewFile}} </p>
				</div>
				<div class="col-md-12">
				  <input class="form-control-sm" type="file" id="interview_report_file" (change)="selectFileIR($event)" formControlName="interview_report_file" >
				  <button type="button" class="btn btn-outline-dark" (click)="uploadInterviewReport()">Upload</button>
				</div>
				  <button type="submit" class="btn btn-outline-primary">Register</button>     
				</form>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
			  </div>
			</div>
		  </div>
		</div>
	  </div> 


	<div style="height: 600px; overflow: scroll; width: 85%; margin-left: 7.5%;" class="containerTable">
		<table class="table table-striped table-responsive table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl" >
			<thead class="bg-dark text-white" style="position: sticky; top:0; z-index: 10;">
			  <tr>
				<th scope="col">User ID</th>
				<th scope="col" class="text-center">Personal CV</th>
				<th scope="col" class="text-center">Arkus CV</th>
				<th scope="col" class="text-center">Interview Report</th>
			  </tr>
			</thead>
			<tbody>
				<tr *ngFor="let files of userFilesList">
					<td class="text-center">{{files.user_id}} <br>
						<button type="button" class="btn btn-outline-warning rounded-circle" style="margin-right: 5%" data-bs-toggle="modal" data-bs-target="#editFilesInfo" (click)="getId(files.user_id)"><i class="fas fa-edit"></i></button> 
                         <button type="button" class="btn btn-outline-danger rounded-circle" data-bs-toggle="modal" data-bs-target="#deleteFilesInfo" (click)="getUserId(files.user_id)"><i class="fas fa-trash-alt"></i></button>
					</td>
					<td class="text-center">
						<small>{{files.personal_cv}}</small> <br>
						<button type="button" class="btn btn-outline-success" style="margin-right: 5%; margin-bottom: 5%; margin-top: 2%;" (click)="getFilePersonal(files.personal_cv)"><i class="fas fa-download"></i></button>
					</td>
					<td class="text-center">
						<small>{{files.arkus_cv}}</small> <br>
						<button type="button" class="btn btn-outline-success" style="margin-right: 5%; margin-bottom: 5%; margin-top: 2%;" (click)="getFileArkus(files.arkus_cv)"><i class="fas fa-download"></i></button>
					</td>
					<td class="text-center">
						<small>{{files.interview_report}}</small> <br>
						<button type="button" class="btn btn-outline-success" style="margin-right: 5%; margin-bottom: 5%; margin-top: 2%;" (click)="getFileInterviewR(files.interview_report)"><i class="fas fa-download"></i></button>
					</td>		  
				</tr>  
			</tbody>
		  </table>		
	</div>

</div>

  <!--Edit-->
  <div class="modal fade" id="editFilesInfo" tabindex="-1" aria-labelledby="editFilesInfoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title text-dark" id="exampleModalLabel"><b>Edit User</b></h5>
        </div>
        <div class="modal-body">
          <form class="row g-3"  [formGroup]="fGValidEdit" (ngSubmit)="editFilesInfo()">   
			<div class="col-md-4">
				<label for="id" class="form-label">Id</label>
				<input type="number" class="form-control" id="id" formControlName="id">
			  </div>
			  <div class="col-md-4">
				<label for="user_id" class="form-label">User Id</label>
				<input type="number" class="form-control" id="user_id" formControlName="user_id">
			  </div>
			  <div class="col-md-12">
				<input type="text" class="form-control" id="´personal_cv" formControlName="personal_cv">
				<p id="personal_cv"> {{namePersonalFileCVEdit}} </p>
			</div>
			<div class="col-md-12">
			  <input class="form-control-sm" type="file" id="personal_cv_file" (change)="selectFilePCVEdit($event)" formControlName="personal_cv_file">
			  <button type="button" class="btn btn-outline-dark" (click)="uploadPersonalCVEdit()">Upload</button>
			</div>
			<div class="col-md-12">
				<input type="text" class="form-control" id="arkus_cv" formControlName="arkus_cv">
			  <p id="arkus_cv"> {{nameArkusFileCVEdit}} </p>
		  </div>
		  <div class="col-md-12">
			<input class="form-control-sm" type="file" id="arkus_cv_file" (change)="selectFileACVEdit($event)" formControlName="arkus_cv_file">
			<button type="button" class="btn btn-outline-dark" (click)="uploadArkusCVEdit()">Upload</button>
		  </div>
			<div class="col-md-12">
				<input type="text" class="form-control" id="interview_report" formControlName="interview_report">
			  <p id="interview_report"> {{nameInterviewFileEdit}} </p>
		  </div>
		  <div class="col-md-12">
			<input class="form-control-sm" type="file" id="interview_report_file" (change)="selectFileIREdit($event)" formControlName="interview_report_file" >
			<button type="button" class="btn btn-outline-dark" (click)="uploadInterviewReportEdit()">Upload</button>
		  </div>
            <button type="submit" class="btn btn-outline-warning">Save changes</button>          
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!--Delete-->
  <div class="modal fade" id="deleteFilesInfo" tabindex="-1" aria-labelledby="deleteFilesInfoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="modal-title text-white" id="exampleModalLabel"><b>Delete User</b></h5>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
              ¿Do you want to delete the files with User id: <strong>{{idU}}</strong> ? 
            </div>
            <button type="submit" class="btn btn-outline-danger" (click)="deleteFilesInfo()">Delete</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div> 
