<div class="homeContainer">	

	<div class="navigation-wrap start-header start-style">
		<div class="container">
			<div class="row">
        <div class="col-4">
					<div class="navbar navbar-expand-md navButton">
                        <app-sidebar-visit></app-sidebar-visit>
          </div>		
				</div>
				<div class="col-4">
					<nav class="navbar navbar-expand-md navImg">
						<a class="navbar-brand imgMind" href="https://www.mindhub.mx/" target="_blank"><img src="../../../../assets/images/mindLogoW.png" alt=""></a>	
					</nav>		
				</div>
			</div>
		</div>
	</div>

  <div class="content">
    <div class="headerBanner">
      <div class="text-center">
        <h1 class="headmind">Dashboard</h1>
      </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 100px;">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Vacancies </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">30</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-briefcase fa-2x text-gray-300"></i>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Mind University
                          </div>
                          <div class="row no-gutters align-items-center">
                              <div class="col-auto">
                                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                              </div>
                              <div class="col">
                                  <div class="progress progress-sm mr-2">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-laptop-code fa-2x text-gray-300"></i>                           
                      </div>
                  </div>
              </div>
          </div>
      </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Mind Teams
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <br><br>

  </div>

    <div class="row row-cols-1 row-cols-lg-2 row-cols-md-3 row-cols-xl-4 cardsDetails">
        <div class="col" *ngFor="let vacancie of vacanciesList | paginate: { itemsPerPage: numUVacancPage, currentPage: page }">
        <div class="card radius-15">
            <div class="card-body text-center">
            <div class="p-4 border radius-15">
                <h6 class="mt-2 mb-3"><strong>{{vacancie.technology}}</strong></h6>
                <div class="dataUser" style="text-align: left;">
                <strong class="mb-1">Seniority:</strong> <small>&nbsp;{{vacancie.seniority}}</small> <br>
                <strong class="mb-1">Trial Account: </strong> <small>&nbsp;{{vacancie.trial_Account}}</small> <br>
                </div>
                <div class="containerButtons mt-3">
                <button type="button" class="btn btn-outline-danger" style="margin-right: 5%" data-bs-toggle="modal" data-bs-target="#viewInfoVancan" (click)="getId(vacancie.id)">More Details</button>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <br><br><br>
    <pagination-controls  
                    class="pagination"
                    (pageChange)="changePage($event)"
                    previousLabel="Previous"
                    nextLabel="Next">
    </pagination-controls>

</div>

<!-- View -->
<div class="modal fade" id="viewInfoVancan" tabindex="-1" aria-labelledby="viewInfoVancanLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-white" id="exampleModalLabel"><b>Vacancie Details</b></h5>
        </div>
        <div class="modal-body">
          <div class="col">
            <div class="card radius-15">
              <div class="card-body text-center">
                <div class="p-4 border radius-15">
                  <h6 class="mt-2 mb-3"><strong>{{vacancieInfo.technology}}</strong></h6>
                  <div class="dataUser" style="text-align: left;">
                    <strong class="mb-1">Seniority:</strong> <small>&nbsp;{{vacancieInfo.seniority}}</small> <br>
                    <strong class="mb-1">Trial Account: </strong> <small>&nbsp;{{vacancieInfo.trial_Account}}</small> <br>
                    <strong class="mb-1"></strong> <small>&nbsp;{{vacancieInfo.description}}</small> <br>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>