<div class="homeContainer">	

	<div class="navigation-wrap start-header start-style">
		<div class="container">
			<div class="row">
        <div class="col-4">
					<div class="navbar navbar-expand-md navButton">
            <app-sidebar-coord></app-sidebar-coord>
          </div>		
				</div>
				<div class="col-4">
					<nav class="navbar navbar-expand-md navImg" style="text-align: center;">
						<a class="navbar-brand imgMind" href="https://www.mindhub.mx/" target="_blank"><img src="../../../../assets/images/mindLogoW.png" alt=""></a>	
					</nav>		
				</div>
			</div>
		</div>
	</div>

  <div class="content">
    <div class="headerBanner">
      <div class="text-center">
        <h1 class="headmind">Users</h1>
      </div>
    </div>

    <div class="addUser">
      <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#addUserModal">
        Add User
      </button>
      <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-dark">
              <h5 class="modal-title text-white" id="exampleModalLabel"><b>Add User</b></h5>
            </div>
            <div class="modal-body">
              <form class="row g-3"  [formGroup]="fGValid" (ngSubmit)="addUser()" #f="ngForm">
                <div class="col-md-12">
                  <label for="full_name" class="form-label">Full Name</label>
                  <input type="text" class="form-control" id="full_name" placeholder="Last Name   First Name" formControlName="full_name">
                  <div *ngIf="obtainFGValidator.full_name.errors && (obtainFGValidator.full_name.dirty || obtainFGValidator.full_name.touched)" class="validations">
                    <small *ngIf="obtainFGValidator.full_name.errors.required" class="mt-0">This field is required</small>
                    <small *ngIf="obtainFGValidator.full_name.errors.pattern" class="mt-0">Must be just letters</small>
                 </div>
                </div> 
                <div class="col-md-12">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" formControlName="email" placeholder="user@example.com">
                  <div *ngIf="obtainFGValidator.email.errors && (obtainFGValidator.email.dirty || obtainFGValidator.email.touched)" class="validations">
                    <small *ngIf="obtainFGValidator.email.errors.required" class="mt-0">This field is required</small>
                    <small *ngIf="obtainFGValidator.email.errors.email">Must comply with an email format</small>
                  </div> 
                </div>
                <div class="col-md-6">
                  <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" aria-describedby="inputGroupPrepend" placeholder="Phone Number" formControlName="phone">
                    <div *ngIf="obtainFGValidator.phone.errors && (obtainFGValidator.phone.dirty || obtainFGValidator.phone.touched)" class="validations">
                      <small *ngIf="obtainFGValidator.phone.errors.required" class="mt-0">This field is required</small>
                      <small *ngIf="obtainFGValidator.phone.errors.pattern">Must be just numbers</small>
                   </div>
                </div>
                <div class="col-md-6">
                  <label for="english_level" class="form-label">English Level</label>
                  <select class="form-select" id="english_level" formControlName="english_level">
                    <option selected disabled value="">Choose...</option>
                    <option value="A0">A0</option>
                    <option value="A1-A2">A1-A2</option>
                    <option value="A2-B1">A2-B1</option>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                    <option value="C1-C2">C1-C2</option>
                  </select>
                  <div *ngIf="obtainFGValidator.english_level.errors && (obtainFGValidator.english_level.dirty || obtainFGValidator.english_level.touched)" class="validations">
                    <small *ngIf="obtainFGValidator.english_level.errors.touched" class="mt-0">This field is required</small>
                 </div>
                </div> 
                <div class="col-md-6">
                  <label for="city" class="form-label">City</label>
                  <input type="text" class="form-control" id="city" aria-describedby="inputGroupPrepend" placeholder="City where it operates" formControlName="city">
                    <div *ngIf="obtainFGValidator.city.errors && (obtainFGValidator.city.dirty || obtainFGValidator.city.touched)" class="validations">
                    <small *ngIf="obtainFGValidator.city.errors.required || obtainFGValidator.city.touched" class="mt-0">This field is required</small>
                    <small *ngIf="obtainFGValidator.city.errors.pattern" class="mt-0">Must be just letters</small>
                 </div>
                </div>
                <div class="col-md-6">
                  <label for="venue" class="form-label">Venue</label>
                  <select class="form-select" id="venue" formControlName="venue">
                    <option selected disabled value="">Choose...</option>
                    <option value="Aguascalientes">Aguascalientes</option>
                    <option value="Colima">Colima</option>
                    <option value="Monterrey">Monterrey</option>
                    <option value="Tijuana">Tijuana</option>
                  </select>
                  <div *ngIf="obtainFGValidator.venue.errors && (obtainFGValidator.venue.dirty || obtainFGValidator.venue.touched)" class="validations">
                    <small *ngIf="obtainFGValidator.venue.errors.required || obtainFGValidator.venue.touched" class="mt-0">This field is required</small>
                 </div>
                </div>
                <div class="col-md-6">
                  <label for="origin_type" class="form-label">Origin</label>
                  <select class="form-select" id="origin_type"formControlName="origin_type">
                    <option selected disabled value="">Choose...</option>
                    <option value="Bootcamp">Bootcamp</option>
                    <option value="Cambio_en_Produccion">Cambio en producción</option>
                    <option value="Externo(Krunger)">Externo(Krunger)</option>
                    <option value="Reclutamiento">Reclutamiento</option>
                  </select>
                  <div *ngIf="obtainFGValidator.origin_type.errors && (obtainFGValidator.origin_type.dirty || obtainFGValidator.origin_type.touched)" class="validations">
                    <small *ngIf="obtainFGValidator.origin_type.errors.required || obtainFGValidator.origin_type.touched" class="mt-0">This field is required</small>
                 </div>
                </div> 
                <div class="col-md-6">
                  <label for="type_mind" class="form-label">Mind</label>
                  <select class="form-select" id="type_mind" formControlName="type_mind">
                    <option selected disabled value="">Choose...</option>
                    <option value="Mind University">Mind University</option>
                    <option value="Mind Teams">Mind Teams</option>
                  </select>
                  <div *ngIf="obtainFGValidator.type_mind.errors && (obtainFGValidator.type_mind.dirty || obtainFGValidator.type_mind.touched)" class="validations">
                    <small *ngIf="obtainFGValidator.type_mind.errors.required || obtainFGValidator.type_mind.touched" class="mt-0">This field is required</small>
                 </div>
                </div>
                <div class="col-md-6">
                  <label for="date_entry_mind" class="form-label">Date Entry</label>
                  <input type="string" class="form-control" id="date_entry_mind" formControlName="date_entry_mind" placeholder="YYYY-MM-DD" maxlength="10">
                  <div *ngIf="obtainFGValidator.date_entry_mind.errors && (obtainFGValidator.date_entry_mind.dirty || obtainFGValidator.date_entry_mind.touched)" class="validations">
                    <small *ngIf="obtainFGValidator.date_entry_mind.errors.required || obtainFGValidator.date_entry_mind.touched" class="mt-0">This field is required</small>
                 </div>
                </div>
                <!-- <div class="col-md-6">
                  <label for="days_mind" class="form-label">Days Mind</label>
                  <input type="number" class="form-control inputDays" id="days_mind" formControlName="days_mind">
                </div> -->
                <button type="submit" class="btn btn-outline-dark" 
                [disabled]="obtainFGValidator.email.errors || obtainFGValidator.full_name.errors || obtainFGValidator.phone.errors || obtainFGValidator.city.errors || obtainFGValidator.venue.errors || obtainFGValidator.origin_type.errors || obtainFGValidator.english_level.errors || obtainFGValidator.type_mind.errors || obtainFGValidator.date_entry_mind.errors
                " >Register</button>          
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="container">

      <div class="row row-cols-1 row-cols-lg-2 row-cols-md-3 row-cols-xl-4 cardsDetails">
        <div class="col" *ngFor="let user of usersList | paginate: { itemsPerPage: numUsersPage, currentPage: page }">
          <div class="card radius-15">
            <div class="card-body text-center">
              <div class="p-4 border radius-15">
                <img src="../../../../assets/images/usericon.png" width="110" height="110" class="rounded-circle shadow" alt="">
                <p class="mb-3 mt-3"><b>{{user.id}}</b></p>
                <h5 class="mb-0">{{user.full_name}}</h5>
                <p class="mb-3">{{user.email}}</p>
                <div class="containerButtons"> 
                  <button type="button" class="btn btn-outline-primary rounded-circle" style="margin-right: 5%" data-bs-toggle="modal" data-bs-target="#viewInfoUser" (click)="getId(user.id)"><i class="far fa-eye"></i></button>
                  <button type="button" class="btn btn-outline-warning rounded-circle" style="margin-right: 5%" data-bs-toggle="modal" data-bs-target="#editInfoUser" (click)="getId(user.id)"><i class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-outline-danger rounded-circle" data-bs-toggle="modal" data-bs-target="#deleteUser" (click)="getId(user.id)"><i class="fas fa-trash-alt"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br>
      <pagination-controls  
                      class="pagination"
                      (pageChange)="changePage($event)"
                      previousLabel="Previous"
                      nextLabel="Next">
      </pagination-controls>
    
    </div>

      <br><br>

</div>

  <!-- View -->
  <div class="modal fade" id="viewInfoUser" tabindex="-1" aria-labelledby="viewInfoUserLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header headerView">
          <h5 class="modal-title text-dark" id="exampleModalLabel"><b>View User</b></h5>
        </div>
        <div class="modal-body">
          <div class="col">
            <div class="card radius-15">
              <div class="card-body text-center">
                <div class="p-4 border radius-15">
                  <img src="../../../../assets/images/usericon.png" width="110" height="110" class="rounded-circle shadow" alt="">
                  <h5 class="mt-5 mb-3"><strong>{{userInfo.full_name}}</strong></h5>
                  <div class="dataUser" style="text-align: left;">
                    <strong class="mb-1">Email:</strong> <small>&nbsp;{{userInfo.email}}</small> <br>
                    <strong class="mb-1">Phone: </strong> <small>&nbsp;{{userInfo.phone}}</small> <br>
                    <strong class="mb-1">City: </strong> <small>&nbsp;{{userInfo.city}}</small> <br>
                    <strong class="mb-1">English Level: </strong> <small>&nbsp;{{userInfo.english_level}}</small> <br>
                    <strong class="mb-1">Venue: </strong> <small>&nbsp;{{userInfo.venue}}</small> <br>
                    <strong class="mb-1">Origin: </strong> <small>&nbsp;{{userInfo.origin_type}}</small> <br>
                    <strong class="mb-1">Mind: </strong> <small>&nbsp;{{userInfo.type_mind}}</small> <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!--Edit-->
  <div class="modal fade" id="editInfoUser" tabindex="-1" aria-labelledby="editInfoUserLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title text-dark" id="exampleModalLabel"><b>Edit User</b></h5>
        </div>
        <div class="modal-body">
          <form class="row g-3"  [formGroup]="fGValidEdit" (ngSubmit)="editUser()">
            <div class="col-md-4">
              <label for="id" class="form-label">Id</label>
              <input type="number" class="form-control" id="id" formControlName="id">
            </div>
            <div class="col-md-12">
              <label for="full_name" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="full_name" placeholder="Last Name   First Name" formControlName="full_name">
              <div *ngIf="obtainFGValidatorEdit.full_name.errors && (obtainFGValidatorEdit.full_name.dirty || obtainFGValidatorEdit.full_name.touched)" class="validations">
                <small *ngIf="obtainFGValidatorEdit.full_name.errors.required" class="mt-0">This field is required</small>
                <small *ngIf="obtainFGValidatorEdit.full_name.errors.pattern" class="mt-0">Must be just letters</small>
             </div>
            </div> 
            <div class="col-md-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="user@example.com">
              <div *ngIf="obtainFGValidatorEdit.email.errors && (obtainFGValidatorEdit.email.dirty || obtainFGValidatorEdit.email.touched)" class="validations">
                <small *ngIf="obtainFGValidatorEdit.email.errors.required" class="mt-0">This field is required</small>
                <small *ngIf="obtainFGValidatorEdit.email.errors.email">Must comply with an email format</small>
              </div> 
            </div>
            <div class="col-md-6">
              <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" aria-describedby="inputGroupPrepend" placeholder="Phone Number" formControlName="phone">
                <div *ngIf="obtainFGValidatorEdit.phone.errors && (obtainFGValidatorEdit.phone.dirty || obtainFGValidatorEdit.phone.touched)" class="validations">
                  <small *ngIf="obtainFGValidatorEdit.phone.errors.required" class="mt-0">This field is required</small>
                  <small *ngIf="obtainFGValidatorEdit.phone.errors.pattern">Must be just numbers</small>
               </div>
            </div>
            <div class="col-md-6">
              <label for="english_level" class="form-label">English Level</label>
              <select class="form-select" id="english_level" formControlName="english_level">
                <option selected disabled value="">Choose...</option>
                <option value="A0">A0</option>
                <option value="A1-A2">A1-A2</option>
                <option value="A2-B1">A2-B1</option>
                <option value="B1">B1</option>
                <option value="B2">B2</option>
                <option value="C1-C2">C1-C2</option>
              </select>
              <div *ngIf="obtainFGValidatorEdit.english_level.errors && (obtainFGValidatorEdit.english_level.dirty || obtainFGValidatorEdit.english_level.touched)" class="validations">
                <small *ngIf="obtainFGValidatorEdit.english_level.errors.touched" class="mt-0">This field is required</small>
             </div>
            </div> 
            <div class="col-md-6">
              <label for="city" class="form-label">City</label>
              <input type="text" class="form-control" id="city" aria-describedby="inputGroupPrepend" placeholder="City where it operates" formControlName="city">
              <div *ngIf="obtainFGValidatorEdit.city.errors && (obtainFGValidatorEdit.city.dirty || obtainFGValidatorEdit.city.touched)" class="validations">
                <small *ngIf="obtainFGValidatorEdit.city.errors.required || obtainFGValidatorEdit.city.touched" class="mt-0">This field is required</small>
                <small *ngIf="obtainFGValidatorEdit.city.errors.pattern" class="mt-0">Must be just letters</small>
             </div>
            </div>
            <div class="col-md-6">
              <label for="venue" class="form-label">Venue</label>
              <select class="form-select" id="venue" formControlName="venue">
                <option selected disabled value="">Choose...</option>
                <option value="Aguascalientes">Aguascalientes</option>
                <option value="Colima">Colima</option>
                <option value="Monterrey">Monterrey</option>
                <option value="Tijuana">Tijuana</option>
              </select>
              <div *ngIf="obtainFGValidatorEdit.venue.errors && (obtainFGValidatorEdit.venue.dirty || obtainFGValidatorEdit.venue.touched)" class="validations">
                <small *ngIf="obtainFGValidatorEdit.venue.errors.required || obtainFGValidatorEdit.venue.touched" class="mt-0">This field is required</small>
             </div>
            </div>
            <div class="col-md-6">
              <label for="origin_type" class="form-label">Origin</label>
              <select class="form-select" id="origin_type"formControlName="origin_type">
                <option selected disabled value="">Choose...</option>
                <option value="Bootcamp">Bootcamp</option>
                <option value="Cambio_en_Produccion">Cambio en producción</option>
                <option value="Externo(Krunger)">Externo(Krunger)</option>
                <option value="Reclutamiento">Reclutamiento</option>
              </select>
              <div *ngIf="obtainFGValidatorEdit.origin_type.errors && (obtainFGValidatorEdit.origin_type.dirty || obtainFGValidatorEdit.origin_type.touched)" class="validations">
                <small *ngIf="obtainFGValidatorEdit.origin_type.errors.required || obtainFGValidatorEdit.origin_type.touched" class="mt-0">This field is required</small>
             </div>
            </div> 
            <div class="col-md-6">
              <label for="type_mind" class="form-label">Mind</label>
              <select class="form-select" id="type_mind" formControlName="type_mind">
                <option selected disabled value="">Choose...</option>
                <option value="Mind_University">Mind University</option>
                <option value="Mind_Teams">Mind Teams</option>
              </select>
              <div *ngIf="obtainFGValidatorEdit.type_mind.errors && (obtainFGValidatorEdit.type_mind.dirty || obtainFGValidatorEdit.type_mind.touched)" class="validations">
                <small *ngIf="obtainFGValidatorEdit.type_mind.errors.required || obtainFGValidatorEdit.type_mind.touched" class="mt-0">This field is required</small>
             </div>
            </div>
            <div class="col-md-6">
              <label for="date_entry_mind" class="form-label">Date Entry</label>
              <input type="string" class="form-control" id="date_entry_mind" formControlName="date_entry_mind" placeholder="YYYY-MM-DD" maxlength="10">
              <div *ngIf="obtainFGValidatorEdit.date_entry_mind.errors && (obtainFGValidatorEdit.date_entry_mind.dirty || obtainFGValidatorEdit.date_entry_mind.touched)" class="validations">
                <small *ngIf="obtainFGValidatorEdit.date_entry_mind.errors.required || obtainFGValidatorEdit.date_entry_mind.touched" class="mt-0">This field is required</small>
             </div>
            </div>
            <div class="col-md-6">
              <label for="days_mind" class="form-label">Days Mind</label>
              <input type="number" class="form-control" id="days_mind" formControlName="days_mind">
            </div>     
            <button type="submit" class="btn btn-outline-warning"
            [disabled]="obtainFGValidatorEdit.email.errors || obtainFGValidatorEdit.full_name.errors || obtainFGValidatorEdit.phone.errors || obtainFGValidatorEdit.city.errors || obtainFGValidatorEdit.venue.errors || obtainFGValidatorEdit.origin_type.errors || obtainFGValidatorEdit.english_level.errors || obtainFGValidatorEdit.type_mind.errors || obtainFGValidatorEdit.date_entry_mind.errors">Save changes</button>          
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!--Delete-->
  <div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="deleteUserLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="modal-title text-white" id="exampleModalLabel"><b>Delete User</b></h5>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
              ¿Do you want to delete the user with id: <strong>{{id}}</strong> ? 
            </div>
            <button type="submit" class="btn btn-outline-danger" (click)="deleteUser()">Delete</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div> 