<div class="homeContainer">	

	<div class="navigation-wrap start-header start-style">
		<div class="container">
			<div class="row">
        <div class="col-4">
					<div class="navbar navbar-expand-md navButton">
        <app-sidebar-coord></app-sidebar-coord>
          </div>		
				</div>
				<div class="col-4">
					<nav class="navbar navbar-expand-md navImg">
						<a class="navbar-brand imgMind" href="https://www.mindhub.mx/" target="_blank"><img src="../../../../assets/images/mindLogoW.png" alt=""></a>	
					</nav>		
				</div>
			</div>
		</div>
	</div>

  <div class="content">
    <div class="headerBanner">
      <div class="text-center">
        <h1 class="headmind">Dashboard</h1>
      </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 50px;">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Vacancies </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">30</div>
                            </div>
                            <div class="col-auto">
                            <i class="fas fa-briefcase fa-2x text-gray-300"></i>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Mind University
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-laptop-code fa-2x text-gray-300"></i>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Mind Teams
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <br><br>

    </div>
 
    <div class="addVacancie">
		<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addVacancieModal">
		  Add Vacancie
		</button>
		<div class="modal fade" id="addVacancieModal" tabindex="-1" aria-labelledby="addVacancieModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header bg-success">
				<h5 class="modal-title text-white" id="exampleModalLabel"><b>Vacancie</b></h5>
			  </div>
			  <div class="modal-body">
				<form class="row g-3"  [formGroup]="fGValid" (ngSubmit)="addVacancie()">
				  <div class="col-md-12">
					<label for="technology" class="form-label">Technology</label>
					  <input type="text" class="form-control" id="technology" aria-describedby="inputGroupPrepend" placeholder="Technology" formControlName="technology">
            <div *ngIf="obtainFGValidator.technology.errors && (obtainFGValidator.technology.dirty || obtainFGValidator.technology.touched)" class="validations">
              <small *ngIf="obtainFGValidator.technology.errors.required" class="mt-0">This field is required</small>
           </div>
				  </div>
				  <div class="col-md-6">
            <label for="seniority" class="form-label">Seniority</label>
              <input type="text" class="form-control" id="seniority" aria-describedby="inputGroupPrepend" placeholder="Seniority" formControlName="seniority">
              <div *ngIf="obtainFGValidator.seniority.errors && (obtainFGValidator.seniority.dirty || obtainFGValidator.seniority.touched)" class="validations">
                <small *ngIf="obtainFGValidator.seniority.errors.required" class="mt-0">This field is required</small>
             </div>
            </div>
          <div class="col-md-6">
              <label for="trial_Account" class="form-label">Trial Account</label>
                <input type="text" class="form-control" id="trial_Account" aria-describedby="inputGroupPrepend" placeholder="Trial Account" formControlName="trial_Account">
                <div *ngIf="obtainFGValidator.trial_Account.errors && (obtainFGValidator.trial_Account.dirty || obtainFGValidator.trial_Account.touched)" class="validations">
                  <small *ngIf="obtainFGValidator.trial_Account.errors.required" class="mt-0">This field is required</small>
               </div>
          </div>
            <div class="col-md-12">
                <label for="description">Description</label>
                <input class="form-control" placeholder="Leave a descripption here" id="description" formControlName="description">
                <div *ngIf="obtainFGValidator.description.errors && (obtainFGValidator.description.dirty || obtainFGValidator.description.touched)" class="validations">
                  <small *ngIf="obtainFGValidator.description.errors.required" class="mt-0">This field is required</small>
               </div>
            </div>
				  <button type="submit" class="btn btn-outline-success"
          [disabled]="obtainFGValidator.technology.errors || obtainFGValidator.seniority.errors || obtainFGValidator.trial_Account.errors">Register</button>     
				</form>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
			  </div>
			</div>
		  </div>
		</div>
	  </div>

      <div class="row row-cols-1 row-cols-lg-2 row-cols-md-3 row-cols-xl-4 cardsDetails">
        <div class="col" *ngFor="let vacancie of vacanciesList | paginate: { itemsPerPage: numUVacancPage, currentPage: page }">
          <div class="card radius-15">
            <div class="card-body text-center">
              <div class="p-4 border radius-15">
                <h6 class="mt-2 mb-3"><strong>{{vacancie.technology}}</strong></h6>
                <div class="dataUser" style="text-align: left;">
                  <strong class="mb-1">Seniority:</strong> <small>&nbsp;{{vacancie.seniority}}</small> <br>
                  <strong class="mb-1">Trial Account: </strong> <small>&nbsp;{{vacancie.trial_Account}}</small> <br>
                </div>
                <div class="containerButtons mt-3">
                  <button type="button" class="btn btn-outline-primary rounded-circle" style="margin-right: 5%" data-bs-toggle="modal" data-bs-target="#viewInfoVancan"><i class="far fa-eye"></i></button>
                  <button type="button" class="btn btn-outline-warning rounded-circle" style="margin-right: 5%" data-bs-toggle="modal" data-bs-target="#editVacanInfo"><i class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-outline-danger rounded-circle" data-bs-toggle="modal" data-bs-target="#deleteVacan"><i class="fas fa-trash-alt"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br>
      <pagination-controls  
                      class="pagination"
                      (pageChange)="changePage($event)"
                      previousLabel="Previous"
                      nextLabel="Next">
      </pagination-controls>

</div>

<!-- View -->
<div class="modal fade" id="viewInfoVancan" tabindex="-1" aria-labelledby="viewInfoVancanLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header headerView">
          <h5 class="modal-title text-dark" id="exampleModalLabel"><b>Vacancie</b></h5>
        </div>
        <div class="modal-body">
          <div class="col">
            <div class="card radius-15">
              <div class="card-body text-center">
                <div class="p-4 border radius-15">
                  <h6 class="mt-5 mb-3"><strong>{{vacancieInfo.technology}}</strong></h6>
                  <div class="dataUser" style="text-align: left;">
                    <strong class="mb-1">Seniority:</strong> <small>&nbsp;{{vacancieInfo.seniority}}</small> <br>
                    <strong class="mb-1">Trial Account: </strong> <small>&nbsp;{{vacancieInfo.trial_Account}}</small> <br>
                    <strong class="mb-1">Description: </strong> <small>&nbsp;{{vacancieInfo.description}}</small> <br>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

 <!--Edit-->
 <div class="modal fade" id="editVacanInfo" tabindex="-1" aria-labelledby="editVacanInfoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title text-dark" id="exampleModalLabel"><b>Edit</b></h5>
        </div>
        <div class="modal-body">
          <form class="row g-3"  [formGroup]="fGValidEdit" (ngSubmit)="editVacancie()">
            <div class="col-md-12">
            <label for="technology" class="form-label">Technology</label>
              <input type="text" class="form-control" id="technology" aria-describedby="inputGroupPrepend" placeholder="Technology" formControlName="technology">
              <div *ngIf="obtainFGValidator.technology.errors && (obtainFGValidator.technology.dirty || obtainFGValidator.technology.touched)" class="validations">
                <small *ngIf="obtainFGValidator.technology.errors.required" class="mt-0">This field is required</small>
             </div>
            </div>
            <div class="col-md-6">
              <label for="seniority" class="form-label">Seniority</label>
                <input type="text" class="form-control" id="seniority" aria-describedby="inputGroupPrepend" placeholder="Seniority" formControlName="seniority">
                <div *ngIf="obtainFGValidator.seniority.errors && (obtainFGValidator.seniority.dirty || obtainFGValidator.seniority.touched)" class="validations">
                  <small *ngIf="obtainFGValidator.seniority.errors.required" class="mt-0">This field is required</small>
               </div>
              </div>
            <div class="col-md-6">
                <label for="trial_Account" class="form-label">Trial Account</label>
                  <input type="text" class="form-control" id="trial_Account" aria-describedby="inputGroupPrepend" placeholder="Trial Account" formControlName="trial_Account">
                  <div *ngIf="obtainFGValidator.trial_Account.errors && (obtainFGValidator.trial_Account.dirty || obtainFGValidator.trial_Account.touched)" class="validations">
                    <small *ngIf="obtainFGValidator.trial_Account.errors.required" class="mt-0">This field is required</small>
                 </div>
            </div>
              <div class="col-md-12">
                  <label for="description">Description</label>
                  <input class="form-control" placeholder="Leave a descripption here" id="description" formControlName="description">
                  <div *ngIf="obtainFGValidator.description.errors && (obtainFGValidator.description.dirty || obtainFGValidator.description.touched)" class="validations">
                    <small *ngIf="obtainFGValidator.description.errors.required" class="mt-0">This field is required</small>
                 </div>
              </div>
            <button type="submit" class="btn btn-outline-warning"
            [disabled]="obtainFGValidator.technology.errors || obtainFGValidator.seniority.errors || obtainFGValidator.trial_Account.errors">Save changes</button>     
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!--Delete-->
  <div class="modal fade" id="deleteVacan" tabindex="-1" aria-labelledby="deleteVacanLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="modal-title text-white" id="exampleModalLabel"><b>Delete</b></h5>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            ¿Do you want to delete the vacancie with id: <strong>{{id}}</strong> ? 
          </div>
          <button type="submit" class="btn btn-outline-danger" (click)="deleteVacancie()">Delete</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>